{% block title %}Login
{% endblock %}

{% block stylesheets %}
	<style>
		* {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}
		body {
			background: rgb;
		}
		.row {
			background-color: white;
			border-radius: 30px;
			box-shadow: 10px 10px 14px grey;
		}
		img {
			border-top-left-radius: 30px;
			border-bottom-left-radius: 30px;
		}
		.btn1 {
			border: none;
			outline: none;
			height: 50px;
			width: 100%;
			background-color: black;
			color: white;
			border-radius: 4px;
			font-weight: bold;
		}
		.btn1:hover {
			background: white;
			border: 1px solid;
			color: black;
		}
	</style>
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
	<section class="Form my-4 mx-5">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-5">
					<img src="./this.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-lg-7 px-5 pt-5">
					<h4>Connectez-vous avec votre compte</h4>
					<form>
						<div class="form-row">
							<div class="col-lg-7">
								<input type="email" placeholder="E-mail" class="form-control my-3 p-4">
							</div>
						</div>
						<div class="form-row">
							<div class="col-lg-7">
								<input type="password" placeholder="********" class="form-control my-3 p-4">
							</div>
						</div>
						<div class="form-row">
							<div class="col-lg-7">
								<button type="button" class="btn1 mt-3 mb-5">Se Connecter</button>
							</div>
						</div>
						<a href="#">Mot de Passe Oublié?</a>
						<!-- add the link -->
						<p>Vous n'avez pas de compte ?<a href="#">Enregistrer Ici</a>
						</p>
						<!-- add the link -->
						<div class="col-xs-5 header-logo tele">
							<br>
							<a href="index.html"><img src="img/logo tele.png" alt="" class="img-responsive logo tele"></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
