{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section class="slider" id="home">
		<div class="container-fluid">
			<div class="row">
				<div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="header-backup"></div>
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="img/slide-one.jpg" alt="">
							<div class="carousel-caption">
								<h1>Fournissant</h1>
								<p>Nous Prenons Soin De Votre Santé</p>
								<button>CLIQUER ICI</button>
							</div>
						</div>
						<div class="item">
							<img src="img/slide-two.jpg" alt="">
							<div class="carousel-caption">
								<h1>Fournissant</h1>
								<p>Nous Prenons Soin De Votre Santé</p>
								<button>CLIQUER ICI</button>
							</div>
						</div>
						<div class="item">
							<img src="img/slide-three.jpg" alt="">
							<div class="carousel-caption">
								<h1>Fournissant</h1>
								<p>Nous Prenons Soin De Votre Santé</p>
								<button>CLIQUER ICI</button>
							</div>
						</div>
						<div class="item">
							<img src="img/slide-four.jpg" alt="">
							<div class="carousel-caption">
								<h1>Fournissant</h1>
								<p>Nous Prenons Soin De Votre Santé</p>
								<button>CLIQUER ICI</button>
							</div>
						</div>
					</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Précédent</span>
					</a>
					<a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Suivant</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end of slider section -->
	<!-- about section -->
	<section class="about text-center" id="about">
		<div class="container">
			<div class="row">
				<h2>Sur nous</h2>
				<h4>Nous avons les meilleurs médecins avec une longue expérience</h4>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail clearfix">
						<div class="about-img">
							<img class="img-responsive" src="img/item1.jpg" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>C</h1>
							</div>
							<h3>Enfants specialist</h3>
							<p>Ne vous inquiétez pas pour vos enfants, nous sommes là pour vous aider...
															ajoutez du texte si .</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="img/item2.png" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>W</h1>
							</div>

							<h3>Spécialiste des femmes</h3>
							<p>Nous vous donnons une autre chance d'être en bonne santé... ajouter du texte.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="img/item3.png" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>M</h1>
							</div>
							<h3>Spécialiste des hommes</h3>
							<p>Nous vous donnons une autre chance d'être en bonne santé... ajoutez du texte.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end of about section -->


	<!-- service section starts here -->
	<section class="service text-center" id="service">
		<div class="container">
			<div class="row">
				<h2>Nos services</h2>
				<h4>nous mettons notre longue expérience entre vos mains</h4>
				<div class="col-md-3 col-sm-6">
					<div class="single-service">
						<div class="single-service-img">
							<div class="service-img">
								<img class="heart img-responsive" src="img/service1.png" alt="">
							</div>
						</div>
						<h3>Coeur</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service">
						<div class="single-service-img">
							<div class="service-img">
								<img class="brain img-responsive" src="img/service2.png" alt="">
							</div>
						</div>
						<h3>Cervau</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service">
						<div class="single-service-img">
							<div class="service-img">
								<img class="knee img-responsive" src="img/service3.png" alt="">
							</div>
						</div>
						<h3>Genou</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service">
						<div class="single-service-img">
							<div class="service-img">
								<img class="bone img-responsive" src="img/service4.png" alt="">
							</div>
						</div>
						<h3>Os's</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end of service section you can add more services -->


	<!-- team section -->
	<section class="team" id="team">
		<div class="container">
			<div class="row">
				<div class="team-heading text-center">
					<h2>Notre groupe</h2>
					<h4>Nous sommes fiers de ce que nous avons ... le meilleur de tous les temps</h4>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person">
						<img class="img-responsive" src="img/member1.jpg" alt="member-1">
					</div>
					<div class="person-detail">
						<div class="arrow-bottom"></div>
						<h3>Dr. M. Robert, M.D.</h3>
						<p>Skills,
						</p>
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person-detail">
						<div class="arrow-top"></div>
						<h3>Dr. Diana, M.D.</h3>
						<p>compétences,
						</p>
					</div>
					<div class="person">
						<img class="img-responsive" src="img/member2.jpg" alt="member-2">
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person">
						<img class="img-responsive" src="img/member3.png" alt="member-3">
					</div>
					<div class="person-detail">
						<div class="arrow-bottom"></div>
						<h3>Dr. Samantha, M.D.</h3>
						<p>compétences,
						</p>
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person-detail">
						<div class="arrow-top"></div>
						<h3>Dr. Jose, M.D.</h3>
						<p>compétences,
						</p>
					</div>
					<div class="person">
						<img class="img-responsive" src="img/member4.png" alt="member-4">
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person">
						<img class="img-responsive" src="img/member5.png" alt="member-5">
					</div>
					<div class="person-detail">
						<div class="arrow-bottom"></div>
						<h3>Dr. Frederic, M.D.</h3>
						<p>compétences,
						</p>
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person-detail">
						<div class="arrow-top"></div>
						<h3>Dr. Martha, M.D.</h3>
						<p>compétences,
						</p>
					</div>
					<div class="person">
						<img class="img-responsive" src="img/member6.png" alt="member-5">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end of team section -->

	<!-- map section -->
	<div class="api-map" id="contact">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 map" id="map"></div>
			</div>
		</div>
	</div>
	<!-- end of map section -->

	<!-- contact section starts here -->
	<section class="contact">
		<div class="container">
			<div class="row">
				<div class="contact-caption clearfix">
					<div class="contact-heading text-center">
						<h2>Contacté nous</h2>
					</div>
					<div class="col-md-5 contact-info text-left">
						<h3>Informations</h3>
						<div class="info-detail">
							<ul>
								<li>
									<i class="fa fa-calendar"></i>
									<span>Lundi - Vendredi:</span>
									9:30 AM to 6:30 PM</li>
							</ul>
							<ul>
								<li>
									<i class="fa fa-map-marker"></i>
									<span>Address:</span>
									Agdal , Rabat, MA, CP 123</li>
							</ul>
							<ul>
								<li>
									<i class="fa fa-phone"></i>
									<span>Phone:</span>
									+212*************</li>
							</ul>
							<ul>
								<li>
									<i class="fa fa-fax"></i>
									<span>Fax:</span>
									05************</li>
							</ul>
							<ul>
								<li>
									<i class="fa fa-envelope"></i>
									<span>Email:</span>
									Name@doctor.com</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-1 contact-form">
						<h3>laissez nous un message</h3>

						<form class="form">
							<input class="name" type="text" placeholder="Name">
							<input class="email" type="email" placeholder="Email">
							<input class="phone" type="text" placeholder="Phone No:">
							<textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
							<input class="submit-btn" type="submit" value="SUBMIT">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end of contact section -->
{% endblock %}
