<footer class="footer clearfix">
	<div class="container">
		<div class="row">
			<div class="col-xs-5 header-logo tele">
				<br>
				<a href="index.html"><img src="img/logo tele.png" alt="" class="img-responsive logo tele"></a>
				<h3>
					<center>Réaliser par: Azzedine & Gaoussou</h3>
				</div>
				<div class="col-xs-5 footer-para"></div>
				<div class="col-xs-6 text-right">
					<a href="">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="">
						<i class="fa fa-instagram"></i>
					</a>
					<a href="">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="">
						<i class="fa fa-skype"></i>
					</a>
				</div>
			</div>
		</div>
	</footer>
